@import url("https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans");
.header {
  background: url(../images/header-bg.jpg) no-repeat;
  background-position: center;
  background-size: cover; }
  .header__brand {
    font-family: 'Montserrat', sans-serif; }

body {
  font-family: 'Open Sans', sans-serif; }

.burger {
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }
  .burger:hover {
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; }
  .burger:focus {
    outline: none; }

.ios-icon {
  width: 13%; }

.social-icon {
  margin: 0 7px; }

.h-menu, .h-menu.collapsing {
  position: absolute;
  top: 50px;
  right: 20px; }
