@import "a_variables.scss";

.breadcrumb {
	font-weight: 700;
}

.about-img-cont {
	width: 40px;
	height: 40px;
}

.about-item-title {
}

.team-member {

}


.bar {

	&__row {
		background-color: #efeff0;
	}

	&__txt {
		line-height: 4;
		font-style: italic;
	}
}


.clients {


	&__cl {
		height: 95px;
	}
}

.testimonials {

	&__photo {
		overflow: hidden;
		width: 80px;
		height: 80px;
		border-radius: 50%;
		text-align: center;
	}

	&__name {
		font-weight: bold;
	}
}

