@import "variables.scss";
@import "_header.scss";

body {
	font-family: 'Open Sans', sans-serif;

}

.burger {
	@include btn;
}

i[class^="ion-ios-"] {
	font-size: 2.5rem;
}

i[class^="ion-social-"] {
	font-size: 1.3rem;
	margin: 0 5px;
}

.h-menu, .h-menu.collapsing{
	position: absolute;
	top: 50px;
	right: 20px;
}

