@import "variables.scss";
@import "_header.scss";

body {
	font-family: 'Open Sans', sans-serif;
}

.burger {
	@include btn;
}

.ios-icon {
	width: 13%;
}

.social-icon {
	margin: 0 7px;
}

// @media screen and (min-width: 768px) {
	.h-menu, .h-menu.collapsing{
		position: absolute;
		top: 50px;
		right: 20px;
	}
// }



